#car {
    visibility: hidden;
}

#koin {
    visibility: hidden;
}

#game-canvas canvas{
    background-color: grey !important;
}

.background-putih{
    background-color: white;
}

.main-menu{
    background-image: url("./assets/asphalt.jpg");
    height: 610px ;
}
